[Desktop Entry]
Name=TheBookWurm
Exec=webapp-container --app-id="thebookwurm.alaskalinuxuser" $@ www/index.html
Icon=www/assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
